@import url('../index.css');

.card-body {
  width: 80%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card-body h1 {
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

.summary-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Result Children */
.result-item {
  padding: 1rem 0.8rem;
  border-radius: 15px;
  font-weight: 700;
}

.result-item:nth-child(1) {
  color: var(--clr-primary-red);
  background-color: var(--clr-primary-red-transparent);
}

.result-item:nth-child(2) {
  color: var(--clr-primary-yellow);
  background-color: var(--clr-primary-yellow-transparent);
}

.result-item:nth-child(3) {
  color: var(--clr-primary-teal);
  background-color: var(--clr-primary-teal-transparent);
}

.result-item:nth-child(4) {
  color: var(--clr-primary-blue);
  background-color: var(--clr-primary-blue-transparent);
}

/* Button */
.continue-btn {
  background-color: var(--clr-neutral-dark-gray-blue);
  color: var(--clr-neutral-white);
  padding: 1em 2em;
  font-weight: 700;
  font-size: 1.1rem;

  border: none;
  border-radius: 50px;
}

.continue-btn:hover {
  cursor: pointer;
  background-image: linear-gradient(
    var(--clr-gradient-slate-blue),
    var(--clr-gradient-royal-blue)
  );
}

@media (min-width: 560px) {
  .card-body {
    padding-block: 1rem;
  }

  .card-body h1 {
    justify-content: flex-start;
    margin-top: 0.5rem;
  }

  .result-item {
    padding: 0.7rem 0.5rem;
  }

  .continue-btn {
    padding-block: 0.8em;
  }
}